@charset "utf-8";


#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#000; 
	z-index:99; 
}

#status {
	position:fixed;
	left:83%; 
	top:90%; 
}
#status img {
	width:70%;
	height:50%;
	
}
/* iPads (landscape) ---------------------------------------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
#status {
	position:fixed;
	left:77%; 
	top:90%; 
}
#status img {
	width:200px;
	height:50px;
}
    }